@charset "utf-8";
/* CSS Document */

*	{margin: 0 px;
	padding:0 px;
}
.botonera	{
		width: 100 px;
		height: 50 px;
		}
nav ul{
		list-style: none;
		padding-left: 20px;
}
nav ul li{
		display: inline;
}
.botonera a {
	text-decoration: none;
	color: #000;
	padding: 10px 20px;
	border: 1px solid black;
	
}.botonera a:hover{
	color: #fff;
	background-color: #000;
}
	